/* Default configurations */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* Variables */
:root {
  --font-color: #000000;
}

html {
  font-size: 62.5%;
  font-size: 1.3rem;
}

header {
  width: 100%;
  height: 6rem;
}

a {
  cursor: pointer;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav {
  width: 25rem;
  /* This toot the father height. */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

header nav .nav a {
  margin: 0.5rem;
  color: var(--font-color);
}

nav .nav .nav__itemIcon {
  background-image: url("https://static.thenounproject.com/png/756729-200.png");
  /* Avoid the image to repeat. */
  background-repeat: no-repeat;
  /* Image centering. */
  background-position: center;
  /* Adjust container size */
  background-size: contain;
  width: 25px;
  height: 25px;
}

nav .nav img {
  border-radius: 50%;
}

main {
  margin-top: 5rem;
  text-align: center;
}

main .main-logo {
  width: 25.5rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}

main .main-logo img {
  width: 17rem;
}

main .main-input {
  width: 25.3rem;
  margin: 0 auto;
  margin-bottom: 0.35rem;
}

main .main-input-container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #abafac;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input input {
  outline: none;
  border: none;
  width: 450px;
  height: 40px;
}

main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

main .main-input .search-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

main .main-input .micro-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

main .main-buttons {
  width: 530px;
  margin: 0 auto;
}

main .main-buttons div {
  display: inline-block;
  margin: 20px;
}
main .main-buttons button {
  height: 36px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  color: #5f6368;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 15px;
}

main .main-buttons button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px black;
  color: #222222;
}

footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*  */
}
